<header>
    <div class="container">
        <div class="header-display">
            <h1>Portal de Denúncias BSI</h1>
        </div> 
    </div>
    <nav>
        <div class="container">
            <a href="/">Inicio</a>
            <a href="/comissao">Comissão</a>
        </div>
    </nav>
</header>
