<header>
    <div class="container">
        <div class="header-display">
            <h1>Portal de Denúncias BSI</h1>
        </div>
    </div>
        <nav>
            <div class="container">
                <a href="/">Inicio</a>
                <a href="/comissao">Comissão</a>
                <a href="/cadastro">Cadastrar</a>
                <a href="/admin">Relatorio</a>
            </div>
        </nav>
</header>