<!DOCTYPE html>
<html>
    <head>
        <% include components/projectDefaultHead/projectDefaultHead %>
    </head>
    <body  >
        <% include components/header/projectHeaderAdmin %>
        <main>
        <% include components/form/formCadastro%>
         <div>
       <% include components/relatorio/relatorioUsuarios%>
      </div>
        </main>
        <% include components/footer/projectDefaultFooter %>

        <% include components/projectDefaultScripts/projectDefaultScripts %>
    </body>
</html>