.formatacao-formulario img{
    width: 250;
    height: 230;
    margin-bottom: 10px;
}
body{
    height: 80vh;
}
.btnfoto{
margin-top: 20px;
}

.filtragem{
    margin: 20px 0px;
}

.filtragem span{
    font-size:20px;
    font-weight: 700;
}

.filtragem legend{
    font-size: 16px;
}

.filtragem button{
    margin-top:30px;
}

.statusFormat{
    width: 150px;
}

.nomeFormat{
    width: 200px;
}

.tableMembroAutenticado button{
    margin:15px;
}

.campo-statusMembro i{
    color: rgb(233, 49, 49);
 } 

.campo-statusMembro{
    display: flex;
    justify-content: space-between;
}

.card{
    width: 250px;;
    margin: 10px;
}

.telaCard{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.table td{
    vertical-align: top;
}

.espacoTabelaC{
    width:10%; 
}
.espacoDenunciaC{
    width:10%;
    
}
.espacoObservacaoC{
    widows: 10%;
}
