*{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:hover{
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

/*SECTION Header*/
header{
    background-color: #2A2B2E;
    padding-top: 30px;
    margin-bottom:20px;
}

header h1{
    font-size: 47px;
    color:#fff;
}

header a{
    padding: 10px 10px 10px 0px;
    color:rgb(255, 255, 255);
    font-size: 17px;
}

header a:hover{
    color:rgb(206, 204, 204);
    text-decoration: none;
}


.header-display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav{
    background-color: rgb(34, 34, 34);
    padding: 10px;
}

/*SECTION Footer*/
footer{
    font-family:font85995;
    background-color: #2A2B2E;
    color: #fff;
}

.footer-content{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}

.formatacao-listaContatos{
    color:#fff;
    list-style-type: none;
    display: flex;
}

.formatacao-listaContatos i{
    color:#fff;
    font-size: 35px;
}

.formatacao-formulario{
    border:2px solid #dee3e4;
    border-radius: 5px;
    padding: 20px;
}

.formDetalhe{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.formatacao-formulario legend{
    font-size:18px;
    font-weight: 600;
}

.formatacao-formulario p{
    margin-bottom: 0px;
}

.formatacao-formulario a:hover{
    color: #0a0db1d2;
    text-decoration: none;
}

.btn-interrogacion{
    background: none;
}


textarea{
    resize: none;
}

.logo img{
    width: 150px;
}

.logo{
   margin-left: 12%;
}

.table td{
    vertical-align: middle;
}

.tagRevisao{
    background: rgb(245, 228, 0);
}

.tagSolucionada{
    background: rgb(21, 192, 30);
   
}

.tagCancelada{
    background: rgb(255, 60, 46);
}

.tamanhoEtiquetas{
    width: 25px;
}

.PrincipalError{
    text-align: center;
    font-size: 28px;
}

.PrincipalError img{
   width: 500px;
}