<div class="container espacamentoPadrao">
                        <form action="/cadastro" method="POST" id="formCadastro" enctype="multipart/form-data">
                        <div>
                              <div class="form-group formatacao-formulario">
                                <h2>Cadastro de Novos Membros</h2>
                                <div class="row">
                                  <div class="col-9 formDetalhe">
                
                                    <div>
                                      <legend>Nome</legend>
                                      <input
                                        type="text"
                                        class="form-control"
                                        id="nameMembroAdd"
                                        placeholder="Nome Completo"
                                        name="nome"/>
                                    </div>
                                  
                                    <div>
                                      <legend>Endereço de E-mail:</legend>
                                      <input
                                        type="email"
                                        class="form-control"
                                        id="emailMembroAdd"
                                        placeholder="Email"
                                        name="email"/>
                                    </div>
                                    
                                    <div>
                                      <legend>Data de Nascimento:</legend>
                                      <input type="date" class="form-control" name="data"/>    
                                    </div>
                
                                    <div>
                                      <button class="btn btn-primary mt-2" type="submit" required>
                                        <span class="btncadastrar">Cadastrar</span>
                                      </button>
                                    </div>
                                  </div>
                      
                                  <div class="col-3">
                                    <legend>Foto do usuário</legend>
                                    <div  class=" text-center" >
                                        <img src="http://lorempixel.com/240/230/people" alt=""/>
                                    </div>
                      
                                    <div class="input-group">
                                        <input
                                          type="file"
                                          class="custom-file-input"
                                          id="fotoMembroAdd"
                                          name="avatar"/>
                                        <label class="custom-file-label">Choose file</label>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>